.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo_image {
  border-radius: 50%;
  padding-top: 20px;
}

.create_button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  margin-top: 57px;   
  width: auto;
  height: 45px;
  border-radius: 50px;
  margin-right: -100px;
}

.create_button:hover,
.create_button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.create_button:hover {
  transform: translateY(-1px);
}

.create_button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.icons_wrapper {
  display: flex;
  margin-top: 70px;
}

.icons_wrapper > span {
  font-size: 2.2rem;
}

.icon_light {
  font-size: 2.0rem;
  margin-left: 5px;
}

.icon_neon {
  font-size: 2.0rem;
  margin-right: 5px;
}

.icon_light,
.icon_neon {
  cursor: pointer;
}

.user_avatar {
  margin-left: -110px;
  margin-top: 55px;
  width: 40px;
  height: 40px;
}